<section>
  <p>{{ section.settings.custom_text }}</p>
  {{ section.settings.image | image_url: width: 500 | image_tag }}
  <div>
    <div class="image_container_block">
      {% for block in section.blocks %}
        {{ block.settings.image | image_url: width: 500 | image_tag }}
      {% endfor %}
    </div>
  </div>
</section>

{% stylesheet %}
   .image_container_block{
    display: grid,
    grid-template-columns: repeat(1fr, 3),
    gap:10px
  }
  .image_container_block img{
    height: 50vh;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Section name",
  "tag": "section",
  "class": "custom_section",
  "settings": [
    {
      "type": "text",
      "id": "custom_text",
      "label": "Título de la sección"
    },

        {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
  ],
  "blocks": [
   {
     "name": "Custom Section Blocks",
     "type": "customizable_type",
     "settings": [
        {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },


     ]
   }
  ],
"presets": [
  {
    "name": "Custom Section",
  }
]
}
{% endschema %}
