<section>
  <p>{{ section.settings.custom_text }}</p>

  <div>
    {% for block in section.blocks %}
      {{ block.settings.image | image_url: width: 500 | image_tag }}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Section name",
  "tag": "section",
  "class": "custom_section",
  "settings": [
    {
      "type": "text",
      "id": "custom_text",
      "label": "Título de la sección"
    },

        {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
  ],
  "blocks": [
   {
     "name": "Custom Section Blocks",
     "type": "customizable_type",
     "settings": [
        {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },


     ]
   }
  ],
"presets": [
  {
    "name": "Custom Section",
  }
]
}
{% endschema %}
